<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Shop'n'Swift</title>
  <style>
  #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}</style>
</head>

<body><center><h1> Add Sales</h1>
<form id="form1" name="form1" method="POST" action="/add_sales" style="height:75%; width:65%">
  <table width="617" border="1" id="customers" style="margin-top:5%">
    <tr>
      <th width="50" scope="row"><p>First name</p>      </th>
      <td width="144"><label>
        <input type="text" name="fname" pattern="[A-Z a-z]{2,25}" required/>
      </label></td>
      <th width="61">Last name </th>
      <td width="334"><label>
        <input type="text" name="lname" pattern="[A-Z a-z]{1,25}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Age</th>
      <td><label>
        <input type="text" name="age" pattern="[0-9]{2}" required />
      </label></td>
      <th>Pin</th>
      <td><label>
        <input type="text" name="pin"  pattern="[0-9]{6}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td><label>
      <input name="radiobutton" type="radio" value="male"  checked />
      male 
      <input name="radiobutton" type="radio" value="female" />
      female</label></td>
      <th>Phone</th>
      <td><label>
        <input type="text" name="phone"  pattern="[6789][0-9]{9}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td><label>
        <input type="text" name="place" pattern="[A-Z a-z]{2,25}" required />
      </label></td>
      <th>Username</th>
      <td><label>
        <input type="text" name="uname"  pattern="[a-z]{2,25}" required />
      </label></td>
    </tr>
    <tr>
      <th scope="row">Post</th>
      <td><label>
        <input type="text" name="post"  pattern="[a-z]{2,25}" required/>
      </label></td>
      <th>Password</th>
      <td><label>
        <input type="password" name="password" required pattern="[A-Z a-z]{8-25}"/>
      </label></td>
    </tr>
    <tr>
      <th colspan="4" scope="row"><div align="center">
        <label></label>
      Email :
      <label>
      <input type="text" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" required/>
      </label>
</div></th>
    </tr>
    <tr>

      <th colspan="4" scope="row"><center><input type="submit" name="Submit" value="Register" /></center></th>

    </tr>
  </table>
</form></center>
</body>
</html>
