<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Shop'n'Swift</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1110" border="1">
    <tr>
      <th scope="col"><a href="#">Home</a></th>
      <th scope="col"><a href="/viewstaff">Staffs</a></th>
      <th scope="col"><a href="/viewproducts">View Products</a></th>
      <th scope="col"><a href="/viewbill2">View Bill</a></th>
      <th scope="col"><a href="/viewrating">Rating</a></th>
      <th scope="col"><a href="#">Logout</a></th>
    </tr>
  </table>
</form>
</body>
</html>
