<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="600" height="299" border="1">
    <tr>
      <th width="53" scope="col">Bill No. </th>
      <th colspan="3" scope="col"><label>
        <input type="text" name="textfield" />
      </label></th>
      <th width="34" scope="col"><label>
        <input type="submit" name="Submit" value="Search" />
      </label></th>
    </tr>
    <tr>
      <td>Cart id </td>
      <td width="13">Product id </td>
      <td width="33">Product name </td>
      <td width="33">Quantity</td>
      <td>Price</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Date</td>
      <td colspan="3"><label>
        <input type="text" name="textfield2" />
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Total</td>
      <td colspan="3"><label>
        <input type="text" name="textfield3" />
      </label></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="3"><label>
        <input type="submit" name="Submit2" value="Finish" /> 
        <input type="submit" name="Submit3" value="Cancel" />
      </label></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
